@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
}

h2 {
  font-size: 24px;
  line-height: 12px;
  font-weight: 500;
}

img {
  position: relative;
  display: block;
  width: 100%;
}

a {
  color: #5e5e5e;
  text-decoration: none;
}
