@import './variables.scss';

.hero {
  position: relative;
  overflow: hidden;
  @apply w-full;
}

.torch {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  width: 200%;
  height: 200%;
  // transition: transform 0.3s ease-out;
  // background: linear-gradient(
  //   90deg,
  //   rgba(0, 0, 0, 0.7) 50%,
  //   rgba(0, 0, 0, 0.7) 50%
  // );

  // @media all and (min-width: $tablet-size) {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.9) 20%
  );
  // }
}
